<br>
<img width="200" src="https://authress.io/static/images/logo-text-200.png" />



<br><br><br>
Test Login by navigating to /login or clicking here:
<br><br><br>
<h2>
    <a href="/login">Test Login</a>
</h2>

<br><br><br>
<h3>User Data</h3>
<pre style="white-space: break-spaces"><%= JSON.pretty_generate(user_identity) %></pre>

<h3>Access Token</h3>
<pre style="white-space: break-spaces"><%= JSON.pretty_generate(access_token) %></pre>

